/* my custom styling mobile first: */
header {
   background-color: #ccc;
}
footer {
   background-color: #ccc;
}
h1, p {
   padding: 0 1rem;
}
.jumbotron {
   background-image: url(#); 
   background-size: cover;
   border-radius: 0%;
}  
.img-half {
   width: 100%;
}
footer p {
  padding-top: .5rem;
}
.figure-caption {
   font-size: 1.4rem;
}
   @media screen and (min-width: 600px){
   
}

